.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  background-image: linear-gradient(#04519b, #044687 60%, #033769);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0px;
  height: 70px;
}
.navMore {
  width: 50px;
  height: 50px;
}

.menu-icon {
  display: none;
}
.logo {
  display: flex;
  text-align: center;
  align-items: center;
  padding-right: 50px;
}
.brand {
  font-size: 20px;
  font-weight: bold;
  color: white;
  margin-left: 17px;
}

.navImages {
  width: 15px;
  height: 13px;
  padding-right: 10px;
  padding-left: 1px;
}
.nav-elements ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.nav-elements ul li:hover {
  background-color: rgb #021425;

  transform: scale(1.2);
}
.nav-elements ul li:not(:last-child) {
  margin-right: 60px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: white;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: white;
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-image: linear-gradient(#04519b, #044687 60%, #033769);
    z-index: 1;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}
