.personType {
  text-align: center;
  align-items: center;

  background-color: white;
  /* padding-left: 30px; */
  /* padding-right: 30px; */
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 100px;
  padding-top: 10px;
}
input[type="radio"] {
  border: 0px;
  width: 30px;
  height: 13px;
}
.personTypeInputs {
  text-align: center;

  height: 30px;
  /* display: flex; */
  text-align: center;
}
.personTypeLabel {
  color: rgb(23, 23, 173);
  font-weight: bold;
}

@media only screen and (max-width: 400px) {
  .personType {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media only screen and (min-width: 401px) and(max-width:600px) {
  .personType {
    /* padding-right: 30px; */
    margin-left: 30%;
    margin-right: 30%;
  }
}
@media only screen and (min-width: 601px) and(max-width:800px) {
  .personType {
    /* padding-right: 30px; */
    margin-left: 0%;
    margin-right: 0%;
  }
}
