.formdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  height: 100vh;
}
.totalForm {
  width: 295px;
  padding-top: 15px;
}
.header {
  margin-top: 0px;
  font-size: 20px;
  color: rgb(23, 23, 173);
}
.commonForm {
  display: flex;
  flex-direction: column;
}
.additionalForm {
  display: flex;
  flex-direction: column;
}
.input {
  height: 25px;
  margin-bottom: 20px;
  font-size: 15px;
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
}
.input:focus {
  outline: none;
  border-color: #231b8a;
  box-shadow: 0px 0 0px 2px #231b8a;
}
input {
  text-align: center;
}

span {
  color: red;
}
.submitButton {
  height: 35px;
  width: 290px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 18px;
  background-color: rgb(215, 215, 215);
  border-radius: 15px;
}
@media only screen and (max-width: 400px) {
}
