
.gridDivMain{
  margin-left:5%;
  margin-right:5%;
}
.homeContainer {
  margin-top: 70px;
  height: 100%;
  background-color: white;
}
.search {
  margin-top: 80px;
  display: block;
  text-align: center;
}
.searchButton {
  height: 36px;
}
.searchInput {
  width: 300px;
  height: 30px;
}
.searchInput:focus {
  border: 4px solid rgb(251, 46, 46);
}

.advert {
  height: 40vh;
  background-color: rgb(235, 230, 230);
  display: flex;
  justify-content: space-between;
  /* background-image: url("./Imges/Auction/4.jpg");
  background-repeat: no-repeat;
  background: cover; */
}
.advertProductBox {
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;

  background-color: white;
  /* margin-left:300px */
}
.advertImage {
  height: 40vh;
  width: 60%;
}

.leftButton {
  width: 2px;
  background-color: red;
}
.rightButton {
  width: 2px;
  min-width: 10px;
}
/* .grid {
  display: flex;
  flex-wrap: wrap;
  margin-top:20px;
} */

@media only screen and (max-width: 400px) {
  .advertProductBox {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;

    /* background-color: rgb(246, 237, 237); */
    /* margin-left:300px */
  }
  .advertImage {
    height: 30vh;
    width: 60%;
  }

  .leftButton {
    width: 2px;
    background-color: red;
  }
  .rightButton {
    width: 2px;
    min-width: 2px;
  }
  .searchButton {
    height: 35px;
  }
  .searchInput {
    width: 200px;
    height: 30px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1400px) {
  .searchButton {
    height: 35px;
  }
  .searchInput {
    width: 300px;
    height: 30px;
  }
}
